@media (prefers-reduced-motion: no-preference) {
.App-logo {
    animation: App-logo-spin infinite 20s linear;
}
}

body {
background-color: "#282c34";
}

h3 {
    color: white;
}

.App-header {
background-color: #282c34;
min-height: 30vh;
display: flex;
flex-direction: column;
justify-content: left;
font-size: calc(10px + 2vmin);
color: white;
}

.Header-description {
padding: 4%;
text-align: left;
font-size: 25px;
width: 70%;
float: left;
}

.Login-section {
width: 30%;
float: left;
padding-top: 10%;
padding-right: 4%;
}

.login-dropdown {
font-size: 20px;
}

.App-link {
color: #61dafb;
}

.bottom-pic {
display: table;
justify-content: center;
padding-left: 10%;
}

.bottom-pic-column {
float: left;
padding: 2%;
}

@keyframes App-logo-spin {
from {
    transform: rotate(0deg);
}
to {
    transform: rotate(360deg);
}
}

span {
color: #FF8000;
}