.query_form_body {
    padding-left: 4%;
}

h2 {
    color: white;
}

p {
    color: white;
}

.remaining_sections {
    float: left;
}

.age_subsection {
    float: left;
    width: 10%;
}

.age_subsection_text {
    float: left;
    width: 13%;
}

.age_subsection_text_and {
    float: left;
    width: 3%;
    padding-left: 1%;
}

.age_subsection_filler {
    float: left;
    width: 90%;
}

.height_subsection_text {
    float: left;
    width: 14%;
}

.height_subsection {
    float: left;
    width: 6%;
}

.height_subsection_text_and {
    float: left;
    width: 3%;
    padding-left: 1%;
}

.height_subsection_filler {
    float: left;
    width: 90%;
}